.content3 {
  padding-top: 6px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #FEF6E4;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content3 h1 {
  text-align: center;
}

@media(max-width: 1076px) {
  .content3 {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
  }
}

@media(max-width: 768px) {
  .content3 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
  }
}
.maps {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.map {
  width: 700px;
  margin-bottom: 20px;
}

.map p{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
  text-align: center;

}

.text {
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1.4;
  text-align: justify;
}

.cours {
  text-align: center;
  font-size: 18px;
}

iframe {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 700px;
  height: 525px;
}

.card-product6 {
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card-product6 img {
  height: 100%;
  width: 230px;
  object-fit: cover;
  justify-self: end;
}

.card-product6 p {
  padding-right: 200px;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1.4;
  margin-bottom: 0;
  margin: 5px;
  text-align: justify;
  justify-self: start;
}

.card-product6 .card-product-infos {
  padding: 16px;
}

@media(max-width: 900px) {
  .card-product6 {
    grid-template-columns: 1fr;
  }
  .card-product6 img {
    justify-self: center;
  }
  .card-product6 p {
    padding-right: 0;
    justify-self: center;
    text-align: center;
  }
  .maps {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .map {
    width: 320px;
  }
  iframe {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 320px;
    height: 235px;
  }
}
@media(max-width: 320px) {
  .map {
    width: 290px;
  }
  iframe {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 290px;
    height: 205px;
  }
}
