<div id="footer" style="width : 100%">
  <h4>Nous contacter : <a href="mailto:leduc.vicente@free.fr"><i class="fa-regular fa-envelope"></i></a></h4>
  <p>Ki Aïkido Castelnaudary (Association loi 1901 déclarée sous le nom de Ki Aïkido KNKM Sports pour Tous Castelnaudary), dojo fondé en 2022 - mentions légales</p>
</div>
