<div class="content2">
  <h1>Qui sommes nous ?</h1>
  <p>Le Ki No Kenkyukaï (qui peut se traduire par "Académie d'étude du ki", "Société d'étude du ki" et que l'on traduit par "Ki Société") a été fondé en 1971 par Koïchi Toheï.</p>
  <p>Aujourd'hui, nous sommes affiliés Ki No Kenkyukaï Musubi, nous participons au Fonds de Solidarité Européen d'Aïkido et, enfin, depuis septembre 2012 nous sommes affiliés à la fédération omnisports Fédération Française Sports pour Tous.</p>
  <div class="text2">
    <p>Un peu d'histoire :</p>
  </div>
  <div class="card-product3">
    <img src=<%= asset_path('tohei2.png')%> alt="picture description" width="189" class="img_card"/>
    <div class="card-product-infos3">
      <p><strong>Koïchi Toheï (debout) avec le Maître Ueshiba</strong></p>
    </div>
    <br>
  </div>
  <div class="text">
    <p>Maître Ueshiba, le fondateur de l'aïkido décerna de son vivant à Koïchi Toheï le 10ème Dan.
    <p>Cela représentait à l'époque, le plus haut grade. Mais les idées originales de Toheï senseï et son approche de l'enseignement du Ki l'ont marginalisé au sein le l'Aïkaï de Tokyo fondé par le maître Ueshiba.</p>
    <p>A la mort de Ueshiba, évincé de l'Aïkikaï par, entre-autres, le propre fils de Ueshiba, il décide de fonder son école : le Ki No Kenkyukaï de Tokyo.</p>
  </div>
    <br>
  <div class="card-product4">
    <img src=<%= asset_path('Yoshigasaki-Kenjiro-01.jpg')%> alt="picture description" width="189" class="img_card"/>
    <div class="card-product-infos4">
      <p><strong>Yoshigasaki Senseï</strong></p>
    </div>
      </div>
  <br>
  <div class="text">
    <p><strong>Portrait :</strong></p>
    <p>Doshu (on peut traduire par le fondateur de notre école, plus précisément le maître de la voie), Kenjiro Yoshigasaki  est né en 1951 à Kagoshima, Japon. Décédé le 13 février 2021.</p>
    <p>Il commença à pratiquer le yoga quand il eut 10 ans. Par la suite, il débuta l'Aïkido et bien d'autres arts martiaux.</p>
    <p>Il a aussi étudié le Bouddhisme Zen, le nouveau Shintoïsme, le catholicisme et l'islam. Il a consacré un an à l'étude du yoga en Inde en 1971.</p>
    <p>En 1973 il devint instructeur d'Aïkido. Yoshigasaki Senseï arriva en Europe en 1977 afin d'y représenter officiellement le Ki No Kenkyukaï de Tokyo (Ecole de maître Toheï).</p>
    <p>Dès lors, il enseigna le Ki et l'Aïkido en Europe. Il s'occupait de plus de 120 dojos (dont 4 en France) et de 4000 pratiquants en Europe, Amérique du sud et Afrique du sud.</p>
    <p>Il a permis l'éclosion de nombreux dojos dans toute l'Europe. Il donnait de nombreux stages dont un par an à Marseille.</p>
    <p>En 2002 Toheï senseï cesse d'enseigner, son fils prend sa succession. Maître Yoshigasaki fonda alors sa propre école, le Ki No Kenkyukaï International.</p>
  </div>
  <br>
</div>
