<div class="content2">
  <h1>Qui sommes-nous ?</h1>
  <p>En 1971, Maître Koïchi Toheï a fondé le Ki No Kenkyukaï, qui se traduit "Académie d'étude du ki", nommé aujourd'hui "Ki Société".</p>
  <p>Le Ki Aïkido de Castelnaudary est issu du Ki Aïkido du Sud Est/Sports pour Tous, affilié à sa création (1982) au Ki No Kenkyukaï de Tokyo de Maître Koïchi Toheï.</p>
  <p>Aujourd'hui, nous sommes affiliés au Ki No Kenkyukaï Musubi. Nous participons au Fonds de Solidarité Européen d'Aïkido.</p>
  <div class="text2">
    <p>Un peu d'histoire :</p>
  </div>
  <div class="card-product3">
    <img src=<%= asset_path('tohei2.png')%> alt="picture Toheï et Ueshiba" width="189" class="img_card"/>
    <div class="card-product-infos3">
      <p><strong>Koïchi Toheï (debout) avec Maître Ueshiba</strong></p>
    </div>
    <br>
  </div>
  <div class="text">
    <p>Maître Ueshiba, le fondateur de l'aïkido, décerna de son vivant à Maître Koïchi Toheï le 10ème Dan, ce qui représentait à l'époque, le plus haut grade, ainsi que le titre de Chef Instructeur de l'Aïkikaï.</p>
    <p>Au décès de Maître Ueshiba, Maître Koïchi Toheï, et son approche de l'enseignement du Ki, l'a marginalisé au sein de l'Aïkikaï de Tokyo.</p>
    <p>Maître Toheï décide alors de quitter l'Aïkikaï pour fonder son école : le Ki No Kenkyukaï de Tokyo.</p>
  </div>
    <br>
  <div class="card-product4">
    <img src=<%= asset_path('Yoshigasaki-Kenjiro-01.jpg')%> alt="picture yoshigasaki senseï" width="189" class="img_card"/>
    <div class="card-product-infos4">
      <p><strong>Maître Yoshigasaki</strong></p>
    </div>
      </div>
  <br>
  <div class="text">
    <p><strong>Portrait :</strong></p>
    <p>En 1951 : Naissance de Kenjiro Yoshigasaki à Kagoshima, au Japon.</p>
    <p>En 1961 : A l'âge de 10 ans, il commença à pratiquer le yoga. Par la suite, il débuta l'Aïkido et d'autres arts martiaux. Il a également étudié le Bouddhisme, le Zazen, le nouveau Shintoïsme, le catholicisme et l'islam.</p>
    <p>En 1971 : En Inde, Il a étudié le yoga durant un an.</p>
    <p>En 1973 : Il est devenu instructeur d'Aïkido.</p>
    <p>A partir de 1977 : Il a enseigné le Ki et l'Aïkido en Europe dans plus de 120 dojos et a initié plus de 4000 pratiquants en Europe, Amérique du sud et Afrique du sud.</p>
    <p>En 2002 : Maître Toheï cesse d'enseigner, son fils prend sa succession.
    <p>En 2002 : Maître Yoshigasaki fonde alors sa propre école, il devient le Doshu du Ki No Kenkyukaï International.</p>
    <p>Doshu : Se traduit par le "Fondateur d'une école", plus précisément : "Le maître de la voie".</p>
  </div>
  <br>
</div>
