<div class="contenu">
  <h1>Articles</h1>
  <br><br><br>
  <div class="warning">
    <h2>Cette section n'est pas encore disponible, elle sera mise à jour très prochainement</h2>
  </div>
  <br><br><br><br><br><br><br><br>
</div>
