<div class="content4">
  <h1>L'enseignement</h1>
  <br>
  <div class="text">
    <p>Généralités :</p>
    <p>Koïchi Toheï rencontra Moriheï Ueshiba (le fondateur de l'aïkido) à l'age de 19 ans en 1939, il fut frappé par la facilité d'exécution et la puissance qui se dégageait des techniques de Moriheï Ueshiba.</p>
    <p>Il suivit aussitôt son enseignement. Il progressa rapidement et devint chef instructeur de l'Aïkikaï (nom officiel de l'école d'aïkido de Moriheï Ueshiba).</p>
    <p>D'autres expériences furent importantes pour Tohei senseï comme sa pratique du Misogi de l'école Ichikukaï, le zazen,et surtout sa rencontre avec Tempu Nakamura.</p>
    <br>
    <div class="card-product">
      <img src=<%= asset_path('tempu.jpg')%> alt="picture description" width="189" class="img_card"/>
      <div class="card-product-infos">
        <p><strong>Tempu Nakamura</strong></p>
      </div>
    </div>
    <br>
    <p>C'est sous l'angle des concepts de relaxation, de coordination du corps et de l'esprit, et de "l'Esprit" qui bouge le corps, qu'il chercha la source de l'incroyable efficacité d'Ueshiba senseï. Il revisita, alors, entièrement sa pratique de l'aïkido.</p>
    <br>
    <p>En 1971, Tohei senseï décida de fonder le Ki no Kenkyukaï de Tokyo pour pouvoir enseigner la pratique du ki qui n'était pas enseigné au sein de l'Aïkikaï d'Ueshiba senseï.</p>
    <br>
    <p>En 1974, suite à des problèmes à l'Aïkikaï concernant sa pratique de l'aïkido (fondée sur l'étude du Ki), il quitta cette école et il introduisit au sein du Ki No Kenkyukaï de Tokyo l'étude de l'aïkido (qu'il appellera Shinshin Toïtsu aïkido).</p>
    <br>
    <p>En 1977, Toheï senseï mandate Yoshigasaki senseï pour enseigner le Shinshin Toïtsu aïkido et représenter le Ki No Kenkyukaï de Tokyo en Europe.</p>
    <br>
    <p>En 2002, Toheï senseï cesse d'enseigner, son fils prend sa succession. Maître Yoshigasaki fonde alors sa propre école, le Ki No Kenkyukaï International.</p>
    <br>
    <p>Les différentes disciplines pratiquées au sein du Ki no Kenkyukaï International peuvent être regroupées dans deux domaines :</p>
    <p>- Aïkido : La voie de l'harmonie</p>
    <p>- Kenko do : La voie de la santé</p>
    <p>Le tout formant le Toîtsu Do (ou shin shin toïtsu do) : La voie de l'unification</p>
  </div>
  <br>
</div>
