<div class="content4">
  <h1>L'enseignement</h1>
  <br>
  <div class="text">
    <p>Généralités :</p>
    <p>En 1939, Koïchi Toheï rencontra Moriheï Ueshiba (le fondateur de l'Aïkido) à l'age de 19 ans.
    <p>Il fut frappé par la facilité d'exécution et la puissance qui se dégageaient des techniques de Maître Moriheï Ueshiba.</p>
    <p>Il suivit aussitôt son enseignement. Il progressa rapidement et devint Chef Instructeur de l'Aïkikaï (Nom officiel de l'école d'Aïkido de Maître Moriheï Ueshiba).</p>
    <p>D'autres expériences furent importantes pour Maître Toheï comme la pratique du Misogi de l'école Ichikukaï, le Zazen, et surtout sa rencontre avec Tempu Nakamura.</p>
    <br>
    <div class="card-product">
      <%= cl_image_tag("https://res.cloudinary.com/dbzcbmk3a/image/upload/v1676729555/development/tempu_uwd7jn.jpg", width:189, class: "img_card", alt: "Tempu Nakamura senseï") %>
      <div class="card-product-infos">
        <p><strong>Tempu Nakamura</strong></p>
      </div>
    </div>
    <br>
    <p>Sous l'angle des concepts de la relaxation, de la coordination de l'esprit et du corps, c'est à dire "l'Esprit" qui bouge le corps. Maître Koïchi Toheï chercha la source de l'incroyable efficacité de maître Ueshiba et revisita alors entièrement sa pratique de l'Aïkido.</p>
    <br>
    <p>En 1971 : Après le décès de Maître Ueshiba, Maître Koïchi Toheï décida de fonder le Ki no Kenkyukaï de Tokyo afin de promouvoir la pratique du Ki, cet enseignement n'existait pas au sein de l'Aïkikaï.</p>
    <br>
    <p>En 1974 : Il introduisit au sein du Ki No Kenkyukaï de Tokyo l'étude de l'Aïkido qu'il appellera : Shinshin Toïtsu Aïkido.</p>
    <br>
    <p>En 1978 : Maître Toheï a dirigé un séminaire de Ki Aïkido en France à Thonon-les-bains, et il mandate Maître Yoshigasaki pour enseigner le Shinshin Toïtsu Aïkido et représenter le Ki No Kenkyukaï de Tokyo en Europe.</p>
    <br>
    <p>A partir de cette date, Maître Yoshigasaki a commencé à enseigner le Ki Aïkido en France.</p>
    <br>
    <p>Les différentes disciplines pratiquées au sein du Ki no Kenkyukaï International peuvent être regroupées comme suit :</p>
    <p>- Aïkido : La voie de l'harmonie</p>
    <p>- Kenko do : La voie de la santé</p>
    <p>L'ensemble forme le Toïtsu Do (Ou Shinshin Toïtsu Do) : La voie de l'unification.</p>
  </div>
  <br>
</div>
