<div class="content3">
  <h1>Informations pratiques</h1>
  <br>
  <br>
  <div class="instructor">
    <div class="card-product6">
      <img src=<%= asset_path('papa.JPG')%> alt="Jean-Gabriel Vicente" width="189" class="img_card"/>
      <div class="card-product-infos">
        <p><strong>L'instructeur, Jean-Gabriel Vicente, est diplômé du Ki No Kenkyukaï International 5ème Dan.</strong></p>
      </div>
    </div>
  </div>
  <br>
  <div class="text">
    <p><strong><a href="http://www.aikidofonds.org"> Le fond de solidarité</strong></a> :</p>
    <p>Regroupement de dojos (France, Allemagne, Italie, Suisse, Croatie, Suède...).</p>
    <p>Ces dojos mutualisent une partie de leurs cotisations afin d'offrir aux adhérents du Fonds de Solidarité un certain nombre de stages gratuits en Europe dirigés par Bruno Maule (Shihan, 9ème dan) et d'autres hauts gradés (5ème dan et plus).</p>
    <br>
    <p>Tous nos adhérents sont automatiquement inscrits à la Fédération Française Sports pour Tous.</p>
    <br>
  </div>
  <h1>Ki Aïkido à Castelnaudary</h1>
  <br>
  <div class="cours">
    <p>Les cours se déroulent :</p>
  </div>
  <br>
  <div class="maps">
    <div class="map">
      <p>Le lundi soir, de 19h30 à 21h45, au Gymnase Pierre de Coubertin, 4 Rue Jacques Anquetil, 11400 Castelnaudary</p>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.9080198965044!2d1.9462668514023354!3d43.31618487903184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ae5a7e24b96c17%3A0x1bc88dd425558d53!2sGymnase%20Pierre%20de%20Coubertin!5e0!3m2!1sfr!2sfr!4v1664031358086!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br>
    <div class="map">
      <p>Le jeudi soir, de 20h00 à 22h00, au Complexe Sportif Le Millénaire, Rue Anatole France, 11400 Castelnaudary</p>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.6589490670035!2d1.9583712971316694!3d43.32139841260378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ae5a9a113da3fd%3A0xb0c31440efeb35f7!2sComplexe%20Sportif%20Le%20Millenaire!5e0!3m2!1sfr!2sfr!4v1664032874426!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <br>
  <div class="tarif">
    <div class="cours">
      <h2><strong>Tarifs : 210€*/an</strong></h2>
      <h2>(Année sportive de septembre à juin)</h2>
      <br>
      <p>*Licence de la Fédération Française Sports pour Tous 27€.</p>
      <p>*Ce tarif permet également la prise en charge d'un certain nombre de stages gratuits
      (Hors frais de déplacements, hébergements et restauration) du Fonds de Solidarité Européen d'Aïkido.
      Exemples : Marseille/Plan d'Aups, Belfort ainsi qu'en Italie, Suisse, Allemagne etc... Dirigés par Bruno Maule(9ème Dan) ainsi que par d'autres hauts gradés.</p>
    </div>
  </div>
  <br>
</div>
