<div class="content3">
  <h1>Media</h1>
  <br><br>
  <div class="text3">
    <p>Quelques vidéos issues de stages donnés par les instructeurs</p>
  </div>
  <br><br>
  <div class="frame container">
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/H-jP9qtN4-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br>
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/6UYRag5xYhE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br>
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/v7hQ_m-IpX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br>
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/0QCGp2SgzPE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br>
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/XcRyRtrkMvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br>
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/J8RzHJ8nSUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br>
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/d0D-bL5YQyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <br>
  </div>
  <br><br>
</div>
