<div class="tabs">
      <span data-tab-value="#tab_1">Accueil</span>
      <span data-tab-value="#tab_2">Qui sommes nous ?</span>
      <span data-tab-value="#tab_3">La pratique/L'enseignement</span>
    </div>

    <div class="tab-content">
        <div class="tabs__tab active" id="tab_1" data-tab-info>
          <h1>News</h1>
          <br>
          <br>
          <div class="news">
            <p><% @nouvelles.each do |nouvelle| %>
              <%= nouvelle.created_at %>
              <%= nouvelle.comment %>
              <% if policy(nouvelle).destroy? %>
              <%= link_to nouvelle_path, class: 'trash',
                method: :delete,
                data: { confirm: "Are you sure?" } do%>
                <i class="fa-regular fa-trash-can"></i>
                <% end %>
              <% end %>
            <% end %> </p>
          </div>
        </div>
        <br>
        <div class="tabs__tab" id="tab_2" data-tab-info>
          <h1>Qui sommes nous ?</h1>
          <br>
          <br>
          <p>
            Le Ki Aikido du Sud Est/Sports pour Tous a été affiliée à sa création (1982) au Ki No Kenkyukaï de Tokyo de maître Koïchi Toheï.
            Le Ki No Kenkyukaï (qui peut se traduire par "Académie d'étude du ki", "société d'étude du ki" et que l'on traduit par "Ki Société") a été fondé en 1971 par Koïchi Toheï.
            Aujourd'hui, nous sommes affiliés Ki No Kenkyukaï Musubi, nous participons au Fonds de Solidarité Européen d'Aïkido et, enfin, depuis septembre 2012 nous sommes affiliés à la fédération omnisports Fédération Française Sports pour Tous.
          </p>
        </div>
        <div class="tabs__tab" id="tab_3" data-tab-info>
            <p>Learn cool stuff.</p>

        </div>
    </div>
    <script type="text/javascript">
        const tabs = document.querySelectorAll('[data-tab-value]')
        const tabInfos = document.querySelectorAll('[data-tab-info]')

        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                const target = document
                    .querySelector(tab.dataset.tabValue);

                tabInfos.forEach(tabInfo => {
                    tabInfo.classList.remove('active')
                })
                target.classList.add('active');
            })
        })
    </script>
