#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

#footer h4{
  text-align: center;
}

#footer p {
  text-align: center;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
